# Node
node_modules/
dist/
dist-electron/
dist-installer/
.env
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
venv/
.env/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Modelos grandes y datos
*.bin
*.gguf
*.safetensors
